@{
    ViewBag.Title = "Contact Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <br />
    <h3>@ViewBag.Message</h3>

    <br />

    <address>
        <b>Address </b>  <br />
        65a Chesterfield Road<br />
        Leicester, LE5 5LH<br />
        <br />
        <b>Phone</b><br />
        0739992263
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:atlasboxing@yahoo.com">atlasboxing@yahoo.com</a><br />
    </address>
</main>